<html lang="en">

<body  bgcolor='lightblue' ><br><br> <center>

<h1>Welcome to Railways Database </h1><br>
<h2>Railways Management System </h2><br>
<h4>Sanjeeta Chakraborty-2048053 </h4>

<br><br><br>
<h5>Click below to see information!</h5>
<font size=5 face="verdana">
<br>
<form action="\mime" method="POST">
<input type="radio" name="BB" value="option1">
Our route details!
<br><br>
<input  type="radio" name="BB"  value="option2">
Our station details!
<br><br>
<input type="radio" name="BB"  value="option3">
Ticket details!
<br><br>
<input  type="radio" name="BB"  value="option4">
Train details
<br><br>
<input type="radio" name="BB"  value="option5">
User details!
<br><br>
<p class="text-center">
<input type="submit"  value="Give me a report" name="submit">
<input type="reset"  value="Reset">
</p> </center>
</body>

</html>